+++
title = "Home"
linkTitle = "Home"

+++

{{< blocks/cover title="Andy Bulka's Software Blog & Projects" image_anchor="top" height="half" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/blog" >}}">
		Blog <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/projects" >}}">
		Projects <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://gituml.com">
		Try GitUML <i class="fab fa-github ml-2 "></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://pynsource.com">
		Download Pynsource <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">Andy Bulka is a software developer in Melbourne, Australia</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}




{{< blocks/section >}}

<!-- <div class="col-12">
	<h1 class="text-center">Introduction</h1>
</div> -->

<p>This website holds Andy Bulka's blog on software development.</p>

{{< /blocks/section >}}






{{< blocks/section  color="dark" type="row" >}}

{{% blocks/feature icon="fa-lightbulb" title="UML Diagramming" %}}
The open source UML diagramming tool for Python code. Visit the [Pynsource website](https://pynsource.com/) for more information.

Also check out [GitUML](https://gituml.com) for a more advanced UML diagramming tool which works with most programming languages.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="My GitHub Repositories" url="https://github.com/abulka?tab=repositories" %}}
This link goes to GitHub.

{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow me on Twitter!" url="https://x.com/search?q=from%3A%40unjazz&src=typed_query" %}}
For announcement of latest features etc.
This link goes to X.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-lightbulb" title="Blog" url="/blog" %}}
Andy Bulka's blog on software development.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-lightbulb" title="Projects" url="/projects" %}}
My Software Projects.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-lightbulb" title="My Patterns" url="/patterns" %}}
Check out my collection of software design patterns.
{{% /blocks/feature %}}

{{< /blocks/section >}}
