<table style="width: 100%;" border="1">
    <tbody>
        <tr>
            <td align="center" width="18%">
                <!--mstheme--><span style="font-family: Arial,Arial,Helvetica;"><strong>Technique</strong>
                    <!--mstheme--></span></td>
            <td align="center" width="21%">
                <!--mstheme--><span style="font-family: Arial,Arial,Helvetica;"><strong>Meta-Pattern</strong>
                    <!--mstheme--></span></td>
            <td align="center" width="36%">
                <!--mstheme--><span style="font-family: Arial,Arial,Helvetica;"><strong>Pattern</strong>
                    <!--mstheme--></span></td>
            <td align="center" width="25%">
                <!--mstheme--><span style="font-family: Arial,Arial,Helvetica;"><strong>Description</strong>
                    <!--mstheme--></span></td>
            <td align="center" width="25%">
                <!--mstheme--><span style="font-family: Arial,Arial,Helvetica;"> 
                    <!--mstheme--></span></td>
        </tr>
        <tr>
            <td rowspan="8" bgcolor="#ffff99" width="18%">
                <!--mstheme--><span style="font-family: Arial,Arial,Helvetica;">To implementation A or B directly
                    <!--mstheme--></span></td>
            <td rowspan="2" bgcolor="#cccccc" width="21%">
                <!--mstheme--><span style="font-family: Arial,Arial,Helvetica;">Program to Interface
                    <!--mstheme--></span></td>
            <td rowspan="2" bgcolor="#ffff99" width="36%">
                <!--mstheme--><span style="font-family: Arial,Arial,Helvetica;">Interface
                    <!--mstheme--></span></td>
            <td width="25%">
                <!--mstheme--><span style="font-family: Arial,Arial,Helvetica;">Interface, compile time choice
                    <!--mstheme--></span></td>
            <td width="25%">
                <!--mstheme--><span style="font-family: Arial,Arial,Helvetica;">Alternative implementations of an
                    interface. Instantiate one or the other implementation of that interface. The code that uses the
                    object is unaware of which object it is using. "Program to an interface"
                    <!--mstheme--></span></td>
        </tr>
        <tr>
            <td width="25%">
                <!--mstheme--><span style="font-family: Arial,Arial,Helvetica;">Interface, conditional code
                    <!--mstheme--></span></td>
            <td width="25%">
                <!--mstheme--><span style="font-family: Arial,Arial,Helvetica;">Same solution as above, except
                    choose particular implementation dynamically at runtime using a flag.
                    <!--mstheme--></span></td>
        </tr>
        <tr>
            <td rowspan="6" bgcolor="#ffffcc" width="21%">
                <!--mstheme--><span style="font-family: Arial,Arial,Helvetica;">Factory
                    <!--mstheme--></span></td>
            <td rowspan="3" bgcolor="#ccffff" width="36%">
                <!--mstheme--><span style="font-family: Arial,Arial,Helvetica;">Factory Method
                    <!--mstheme--></span></td>
            <td width="25%">
                <!--mstheme--><span style="font-family: Arial,Arial,Helvetica;">conditional code
                    <!--mstheme--></span></td>
            <td width="25%">
                <!--mstheme--><span style="font-family: Arial,Arial,Helvetica;"> 
                    <!--mstheme--></span></td>
        </tr>
        <tr>
            <td width="25%">
                <!--mstheme--><span style="font-family: Arial,Arial,Helvetica;">registry
                    <!--mstheme--></span></td>
            <td width="25%">
                <!--mstheme--><span style="font-family: Arial,Arial,Helvetica;"> 
                    <!--mstheme--></span></td>
        </tr>
        <tr>
            <td width="25%">
                <!--mstheme--><span style="font-family: Arial,Arial,Helvetica;">polymorphic factory method
                    <!--mstheme--></span></td>
            <td width="25%">
                <!--mstheme--><span style="font-family: Arial,Arial,Helvetica;"> 
                    <!--mstheme--></span></td>
        </tr>
        <tr>
            <td rowspan="3" bgcolor="#ccccff" width="36%">
                <!--mstheme--><span style="font-family: Arial,Arial,Helvetica;">Abstract Factory
                    <!--mstheme--></span></td>
            <td width="25%">
                <!--mstheme--><span style="font-family: Arial,Arial,Helvetica;">abstract factory - polymorphic
                    <!--mstheme--></span></td>
            <td width="25%">
                <!--mstheme--><span style="font-family: Arial,Arial,Helvetica;"> 
                    <!--mstheme--></span></td>
        </tr>
        <tr>
            <td width="25%">
                <!--mstheme--><span style="font-family: Arial,Arial,Helvetica;">conditional code
                    <!--mstheme--></span></td>
            <td width="25%">
                <!--mstheme--><span style="font-family: Arial,Arial,Helvetica;"> 
                    <!--mstheme--></span></td>
        </tr>
        <tr>
            <td width="25%">
                <!--mstheme--><span style="font-family: Arial,Arial,Helvetica;">class registry
                    <!--mstheme--></span></td>
            <td width="25%">
                <!--mstheme--><span style="font-family: Arial,Arial,Helvetica;"> 
                    <!--mstheme--></span></td>
        </tr>
        <tr>
            <td rowspan="6" bgcolor="#ccffcc" width="18%">
                <!--mstheme--><span style="font-family: Arial,Arial,Helvetica;">To implementation A or B via
                    intermediary
                    <!--mstheme--></span></td>
            <td rowspan="6" bgcolor="#ffccff" width="21%">
                <!--mstheme--><span style="font-family: Arial,Arial,Helvetica;">Indirection
                    <!--mstheme--></span></td>
            <td width="36%">
                <!--mstheme--><span style="font-family: Arial,Arial,Helvetica;">Dot notation drilling
                    <!--mstheme--></span></td>
            <td width="25%">
                <!--mstheme--><span style="font-family: Arial,Arial,Helvetica;">methodless proxy using demeter
                    referencing
                    <!--mstheme--></span></td>
            <td width="25%">
                <!--mstheme--><span style="font-family: Arial,Arial,Helvetica;"> 
                    <!--mstheme--></span></td>
        </tr>
        <tr>
            <td width="36%">
                <!--mstheme--><span style="font-family: Arial,Arial,Helvetica;">Strategy
                    <!--mstheme--></span></td>
            <td width="25%">
                <!--mstheme--><span style="font-family: Arial,Arial,Helvetica;">strategy - may be extra methods not
                    related to the strategising
                    <!--mstheme--></span></td>
            <td width="25%">
                <!--mstheme--><span style="font-family: Arial,Arial,Helvetica;"> 
                    <!--mstheme--></span></td>
        </tr>
        <tr>
            <td width="36%">
                <!--mstheme--><span style="font-family: Arial,Arial,Helvetica;">Proxy
                    <!--mstheme--></span></td>
            <td width="25%">
                <!--mstheme--><span style="font-family: Arial,Arial,Helvetica;">proxy, all methods mapped (demeter
                    is happy). inherit
                    <!--mstheme--></span></td>
            <td width="25%">
                <!--mstheme--><span style="font-family: Arial,Arial,Helvetica;"> 
                    <!--mstheme--></span></td>
        </tr>
        <tr>
            <td width="36%">
                <!--mstheme--><span style="font-family: Arial,Arial,Helvetica;"> 
                    <!--mstheme--></span></td>
            <td width="25%">
                <!--mstheme--><span style="font-family: Arial,Arial,Helvetica;"> 
                    <!--mstheme--></span></td>
            <td width="25%">
                <!--mstheme--><span style="font-family: Arial,Arial,Helvetica;"> 
                    <!--mstheme--></span></td>
        </tr>
        <tr>
            <td width="36%">
                <!--mstheme--><span style="font-family: Arial,Arial,Helvetica;">Adapter
                    <!--mstheme--></span></td>
            <td width="25%">
                <!--mstheme--><span style="font-family: Arial,Arial,Helvetica;">adapted proxy-like strategy. 
                    different method names sometimes
                    <!--mstheme--></span></td>
            <td width="25%">
                <!--mstheme--><span style="font-family: Arial,Arial,Helvetica;"> 
                    <!--mstheme--></span></td>
        </tr>
        <tr>
            <td bgcolor="#ffffcc" width="36%">
                <!--mstheme--><span style="font-family: Arial,Arial,Helvetica;"><span
                        style="background-color: #ffffcc;">Bridge</span>
                    <!--mstheme--></span></td>
            <td width="25%">
                <!--mstheme--><span style="font-family: Arial,Arial,Helvetica;">rhs - methods usually more
                    primitive.  Only talk to abs. impl. </span>
                <p><span style="font-family: Arial,Arial,Helvetica;">lhs - all adapted &amp; thus changeable. can
                        build hierarchies
                        <!--mstheme--></span></p>
            </td>
            <td width="25%">
                <!--mstheme--><span style="font-family: Arial,Arial,Helvetica;"> 
                    <!--mstheme--></span></td>
        </tr>
    </tbody>
</table>
